{% extends 'base.html' %}

{% block container %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src={{ teacher.picture }} class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher.name }}</h1>
              <p>
                {% for goal in teacher_goals %}

                <a href=/goals/{{ goal[1] }}/>
                  <span class="badge badge-secondary mr-2">{{ goal[0] }} </span>
                </a>

                {% endfor %}

                Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час

              </p>
              <p>{{ teacher.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

                {% for weekday in weekdays %}

                    <h6 class="mt-4">{{ weekday.users_name }}</h6>
                    {% if weekday.users_name not in avalible_days %}
                        <p>Нет свободного времени</p>
                    {% endif %}

                    {% for day in teacher_shedule %}
                        {% if day.users_name == weekday.users_name %}
                        <a href="/booking/{{ teacher.id }}/{{ weekday.name }}/{{ day.time.split(':')[0] }}/" class="btn btn-outline-success mr-2" >{{ day.time }} свободно</a>
                        {% endif %}
                    {% endfor %}

                {% endfor %}

            </section>

          </div>
        </article>
      </div>
    </div>
</main>>

{% endblock %}